<!-- Template for displaying articles -->
{% for article in articles %}
    <div class="article {% if article.title == "" and article.summary == "" %}no-text
            {% elif not article.media_content_url %}no-img{% endif %}">
        <div class="article-content-wrapper">
        <!-- Add the category to the article if it exists -->
            {%  if article.category %}
                <div class="category">
                    <p>{{ article.category.upper() }}</p>
                </div>
            {% endif %}

        <!-- Image and title -->
            {% if article.media_content_url and article.title != "" %}
                <div class="media">
                    <a href="{{ article.link }}">
                        <img src="{{ article.media_content_url }}" alt="Media content">
                    </a>
                </div>
                <h2><a href="{{ article.link }}">{{ article.title }}</a></h2>

        <!-- Image only, no title -->
            {% elif article.media_content_url and article.title == "" %}
                <a href="{{ article.link }}">
                    <img src="{{ article.media_content_url }}" alt="Media content">
                </a>

        <!-- Title and summary, no image -->
            {% else %}
                <h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
                <p><a href="{{ article.link }}">{{ article.summary }}</a></p>
            {% endif %}
        </div>
    </div>
{% endfor %}