<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div id="top-bar">
        <h1>
            {{ big_title }}
        </h1>
        <div id="category-filter">
            <select id="category-select">
                <option value="" disabled selected>Select a category...</option>
                {% for category in current_feed.categories %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="main-content">
        <div id="sidepanel">
            {% include 'sidepanel.html' %}
        </div>
        <div id="articles">
            {% include 'articles.html' %}
        </div>
        <!-- Popup for editing feed title -->
        <div id="popup-edit-title">
            <div class="popup-content">
                <span class="close">&times;</span>
                <p>Edit feed title:</p>
                <label for="title-input"></label><input type="text" id="title-input" name="title">
                <button id="save-button" type="button">Save</button>
            </div>
        </div>
    </div>
    <!-- Feed already exists popup -->
    <div id="feed-exists-popup" style="display:none;">
        <div class="popup-content">
            <p>Feed has already been added</p>
            <button id="try-another-feed-button">Try another feed address</button>
        </div>
    </div>
</body>
</html>
