<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Feed</title>
    <!-- Add link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div id="top-bar">
        <h1>
            {{ big_title }}
        </h1>
        <div id="category-filter">
            <select id="category-select">
                {% for feed in feeds %}
                    {% for category in current_feed.categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="main-content">
        <div id="sidepanel">
            {% include 'sidepanel.html' %}
        </div>
        <div id="articles">
            {% include 'articles.html' %}
        </div>
        <!-- The editing popup -->
        <div id="popup-edit-title">
            <div class="popup-content">
                <span class="close">&times;</span>
                <p>Edit your title:</p>
                <label for="title-input"></label><input type="text" id="title-input" name="title">
                <button id="save-button" type="button">Save</button>
            </div>
        </div>
    </div>
</body>
</html>
