<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Feed</title>
    <!-- Add link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Latest News Articles</h1>
    <div id="articles">
        {% for article in articles %}
            <div class="article {% if article.title == "" and article.summary == "" %}no-text{% endif %}">
                {% if article.media_content %}
                    <div class="media">
                        {% for media in article.media_content %}
                            <img src="{{ media['url'] }}" alt="Media content">
                        {% endfor %}
                    </div>
                {% endif %}
                <h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
                <p>{{ article.summary }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
